<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserSignIn</servlet-name>
        <servlet-class>servlets.UserSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>servlets.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogout</servlet-name>
        <servlet-class>servlets.UserLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserData</servlet-name>
        <servlet-class>servlets.UserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserInfo</servlet-name>
        <servlet-class>servlets.UpdateUserInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBookList</servlet-name>
        <servlet-class>servlets.GetBookList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StayLoggedIn</servlet-name>
        <servlet-class>servlets.StayLoggedIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BadCode</servlet-name>
        <servlet-class>servlets.BadCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttackPrevent</servlet-name>
        <servlet-class>servlets.AttackPrevent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_all_students</servlet-name>
        <servlet-class>servlets.get_all_students</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GtBooks</servlet-name>
        <servlet-class>servlets.GtBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_all_librarians</servlet-name>
        <servlet-class>servlets.get_all_librarians</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>servlets.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStatistics</servlet-name>
        <servlet-class>servlets.GetStatistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAvailable</servlet-name>
        <servlet-class>servlets.BookAvailable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLibrarian</servlet-name>
        <servlet-class>servlets.UpdateLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStatusRequests</servlet-name>
        <servlet-class>servlets.GetStatusRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindLibraryDistance</servlet-name>
        <servlet-class>servlets.FindLibraryDistance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectLibrary</servlet-name>
        <servlet-class>servlets.SelectLibrary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBook</servlet-name>
        <servlet-class>servlets.ReturnBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendNotification</servlet-name>
        <servlet-class>servlets.SendNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePDF</servlet-name>
        <servlet-class>servlets.CreatePDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveReview</servlet-name>
        <servlet-class>servlets.LeaveReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeReviews</servlet-name>
        <servlet-class>servlets.SeeReviews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRequested</servlet-name>
        <servlet-class>servlets.GetRequested</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeActiveBorrowings</servlet-name>
        <servlet-class>servlets.SeeActiveBorrowings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptRequested</servlet-name>
        <servlet-class>servlets.AcceptRequested</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptReturned</servlet-name>
        <servlet-class>servlets.AcceptReturned</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReturned</servlet-name>
        <servlet-class>servlets.GetReturned</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAvailableBooks</servlet-name>
        <servlet-class>servlets.ShowAvailableBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAvailable</servlet-name>
        <servlet-class>servlets.NewAvailable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSignIn</servlet-name>
        <url-pattern>/UserSignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogout</servlet-name>
        <url-pattern>/UserLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserData</servlet-name>
        <url-pattern>/UserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserInfo</servlet-name>
        <url-pattern>/UpdateUserInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBookList</servlet-name>
        <url-pattern>/GetBookList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StayLoggedIn</servlet-name>
        <url-pattern>/StayLoggedIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BadCode</servlet-name>
        <url-pattern>/BadCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttackPrevent</servlet-name>
        <url-pattern>/AttackPrevent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_all_students</servlet-name>
        <url-pattern>/get_all_students</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GtBooks</servlet-name>
        <url-pattern>/GtBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_all_librarians</servlet-name>
        <url-pattern>/get_all_librarians</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStatistics</servlet-name>
        <url-pattern>/GetStatistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAvailable</servlet-name>
        <url-pattern>/BookAvailable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLibrarian</servlet-name>
        <url-pattern>/UpdateLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStatusRequests</servlet-name>
        <url-pattern>/GetStatusRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindLibraryDistance</servlet-name>
        <url-pattern>/FindLibraryDistance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectLibrary</servlet-name>
        <url-pattern>/SelectLibrary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBook</servlet-name>
        <url-pattern>/ReturnBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendNotification</servlet-name>
        <url-pattern>/SendNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePDF</servlet-name>
        <url-pattern>/CreatePDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveReview</servlet-name>
        <url-pattern>/LeaveReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeReviews</servlet-name>
        <url-pattern>/SeeReviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRequested</servlet-name>
        <url-pattern>/GetRequested</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeActiveBorrowings</servlet-name>
        <url-pattern>/SeeActiveBorrowings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptRequested</servlet-name>
        <url-pattern>/AcceptRequested</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptReturned</servlet-name>
        <url-pattern>/AcceptReturned</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReturned</servlet-name>
        <url-pattern>/GetReturned</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAvailableBooks</servlet-name>
        <url-pattern>/ShowAvailableBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAvailable</servlet-name>
        <url-pattern>/NewAvailable</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
